body {
    font-family: arial; sans-serif;
    margin: o;
}
.header {
    border: 10px solid red;
    
}

.header img {
    width: 200px;
}

.container {
    border:1px solid red;
}

.content {
    border: 1px solid black;
    background-color: coral; margin-top: 20px;
    height: 500px;
    float: left;
    width: 60%;
    
}

.content p {
    text-align: justify;
}

.sidebar { 
    border: 1px solid black;
    background-color: coral; 
    
    margin-top: 20px;
    padding: 20px;
    float: right;
    width: 30%;
    
}

.sidebar p {
    color: white;
}
.footer {
    border: 1px solid black;background-color: coral;
   margin-top: 20px;
    height: 50px; 
    clear: both;
    
}


